{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
    <h1>Contact!</h1>
    {% for contact in contacts %}
        {{ contact.phone }}
        <br>
        {{ contact.email }}
        <hr>
    {% endfor %}
{% endblock %}
