{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <h1>{{ product.name }}</h1>
    <p>{{ product.description }}</p>
    {% for img in product.productImages %}
        <img src="{{ img.url }}">
    {% endfor %}
{% endblock %}

